flask>=2.0.2
Flask-Login>=0.5.0
Flask-Minify>=0.37
Flask-SeaSurf>=0.3.1
flask-talisman>=0.8.1
Flask-WTF>=1.0.0
wtforms>=2.3.3
Flask-SQLAlchemy>=2.5.1
sqlalchemy>=1.4.27
werkzeug>=2.0.2
is-safe-url>=1.0
uwsgi>=2.0.20
